{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 3, "knowledge_revision": 8, "git_revision": "8937dee1b393f6bf998b4840afe92bebd5c8d63c", "hash": "f979519e3a927cda7b8ea1955a180f8b", "format-version": 4, "code-base-name": "Payment Service", "filename": "Payment_Service/requirements.txt", "revision_history": [{"8": "8937dee1b393f6bf998b4840afe92bebd5c8d63c"}]}